body {
    background-color: rgb(105, 104, 104);
}

h1,h2 {
    background-color: rgb(12, 133, 133);
    color:black;
    text-align: left;
    padding-left: 30px;
    font-weight: 300;
}
h1 {
    font-weight: 600;
}

.yellowFont {
    color: rgb(234, 243, 103);
    font-style: italic;
    font-weight: 700;
}

#spanDeIva {
    color: rgb(234, 243, 103);
}

#spanAmarillo {
    color: rgb(234, 243, 103);
}
.azul {
    background-color: aqua;
    padding-left: 30px;
}
#tituloresult {
    text-align:center; 
    padding-top:15px; 
    padding-bottom:15px
}